.main-footer {
  width: 100%;
  min-height: 150px;
  background: $brand_dark;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;



  p {
    text-shadow: 0 0 5px $brand_primary;
    color: $brand_dark;
    font-family: $sans_serif;
    font-size: 4em;
    text-align: center;

    @include respond-to(phone) {
      font-size: 1.75em;
    }
  }


}