.page-header {
  background: $brand_dark;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: $sans_serif;
    color: $brand_primary;
    margin: 0;
    font-size: 120%;
    text-transform: uppercase;

    &:hover {
      color: $brand_blue;
    }

    @include respond-to(phone) { font-size: 80%; }

  }
}