.page-header {
  background: $brand_dark;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: $script;
    color: $brand_yellow;
    margin-top: 0;

    &:hover {
      color: $brand_blue;
    }

    @include respond-to(phone) { font-size: 80%; }

    span {
      font-family: $sans_serif;
      text-transform: uppercase;
      font-size: 70%;
    }
  }

  .facebook-link {
    border: 1px solid $mid-grey;
    border-radius: 5px;
    padding: 4px;

    @include respond-to(phone) {
      svg {
        width: 20px;
        height: 20px;
        padding: 3px;
      }
    }

    svg path {
      fill: $mid-grey;
    }

    &:hover {
      border-color: $brand_yellow;
      svg path {
        fill: $brand_yellow;
      }
    }
  }
}