.social-hero-links.home-socials {
  //position: absolute;
  //top: 0;
  //left: 0;
  z-index: 10;
  width: 100%;
  background: $brand_dark;
  text-align: right;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include respond-to(phone) {
    z-index: 5;
  }
}

.social-hero-links {
  display: flex;
  align-items: center;

  .social-hero-link {
    display: inline-flex;
    vertical-align: top;
    margin: 0 10px;
    align-items: center;
    justify-content: center;

    @include respond-to(phone) {
      margin: 0 5px;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .colour-fill {
      fill: $mid-grey;
    }

    .colour-stroke {
      stroke: $mid-grey;
    }

    &:hover {
      border-color: $brand_primary;
      .colour-fill {
        fill: $brand_primary;
      }

      .colour-stroke {
        stroke: $brand_primary;
      }
    }
  }
}

.instagram-link {

}

.facebook-link {

}