.col-p {
  color: $brand_primary;
}

.col-p-bg {
  background-color: $brand_primary;
}

.bcol-p {
  border-color: $brand_primary;
}

.col-s {
  color: $brand_secondary;
}

.col-s-bg {
  background-color: $brand_secondary;
}

.col-d {
  color: $brand_dark;
}

.col-d-bg {
  background-color: $brand_dark;
}

.col-w {
  color: $white;
}

.col-w-bg {
  background-color: $white;
}

.col-op-bg {
  background-color: rgba(255,255,255,.4);
}

.col-gr {
  color: $mid-grey;
}

.col-gr-bg {
  background-color: $light_grey;
}

.col-gr-l {
  color: $light_grey;
}

.col-body-bg {
  background-color: $body-bg;
}

