.grad-1 {
  &:after {
    background-image: linear-gradient(120deg, #DC2424, #4A569D);
  }
}

.grad-2 {
  &:after {
    background-image: linear-gradient(120deg, #24C6DC, #514A9D);
  }
}

.grad-3 {
  &:after {
    background-image: linear-gradient(120deg, #e43a15, #e65245);
  }
}

.grad-4 {
  &:after {
    background-image: linear-gradient(120deg, #215f00, #e4e4d9);
  }
}

.grad-5 {
  &:after {
    background-image: linear-gradient(120deg, #50C9C3, #96DEDA);
  }
}

.grad-6 {
  &:after {
    background-image: linear-gradient(120deg, #F7971E, #FFD200);
  }
}

.grad-7 {
  &:after {
    background-image: linear-gradient(120deg, #34e89e, #0f3443);
  }
}

.grad-8 {
  &:after {
    background-image: linear-gradient(120deg, #ee0979, #ff6a00);
  }
}

.grad-9 {
  &:after {
    background-image: linear-gradient(120deg, #6190E8, #A7BFE8);
  }
}

.grad-10 {
  &:after {
    background-image: linear-gradient(120deg, #A770EF, #FDB99B);
  }
}

.grad-11 {
  &:after {
    background-image: linear-gradient(120deg, #DCE35B, #45B649);
  }
}

.grad-12 {
  &:after {
    background-image: linear-gradient(120deg, #3494E6, #EC6EAD);
  }
}

.grad-13 {
  &:after {
    background-image: linear-gradient(120deg, #67B26F, #4ca2cd);
  }
}

.grad-14 {
  &:after {
    background-image: linear-gradient(120deg, #093028, #237A57);
  }
}

.grad-15 {
  &:after {
    background-image: linear-gradient(120deg, #4568DC, #B06AB3);
  }
}

.grad-16 {
  &:after {
    background-image: linear-gradient(120deg, #200122, #6f0000);
  }
}

.grad-17 {
  &:after {
    background-image: linear-gradient(120deg, #D66D75, #E29587);
  }
}

.grad-18 {
  &:after {
    background-image: linear-gradient(120deg, #30E8BF, #FF8235);
  }
}

.grad-19 {
  &:after {
    background-image: linear-gradient(120deg, #E44D26, #F16529);
  }
}

.grad-20 {
  &:after {
    background-image: linear-gradient(120deg, #0ED2F7, #B2FEFA);
  }
}
