/node_modules
/public/storage
/public/hot
/storage/*.key
/storage/app/laravel-google-analytics/service-account-credentials.json
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.idea/
.idea/workspace.xml
.DS_Store
workspace.xml
/public/media/**/*
/public/sitemap.xml
/public/js/**/*
/public/css/**/*
/public/build
/public/mix-manifest.json
/public/googlea4f5e45e54bd6aa2.html