.product-card-container {
  display: flex;
  justify-content: space-around;

  &.count-1 {
    .amazon-product-card {
      width: 50%;
    }
  }

  &.count-2 {
    .amazon-product-card {
      width: 40%;
    }
  }

  &.count-3 {
    .amazon-product-card {
      width: 31%;
    }
  }

  @include respond-to(phone) {
    flex-wrap: wrap;
    &.count-1 {
      .amazon-product-card {
        width: 90%;
        margin: 10px auto;
      }
    }

    &.count-2 {
      .amazon-product-card {
        width: 90%;
        margin: 10px auto;
      }
    }

    &.count-3 {
      .amazon-product-card {
        width: 90%;
        margin: 10px auto;
      }
    }
  }
}

.amazon-product-card {
  margin: 2em auto;
  padding: 10px;
  border: 2px solid $brand_yellow;
  flex-grow: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  *:empty {
    display: none;
  }

  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .product-image-box {
    @include respond-to(phone) {width: 100%; margin: 0 auto;}
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      max-height: 250px;
    }

    a {
      background: transparent;
      padding: 0;
      margin: 0;
    }
  }



  .amazon-product-title {
    font-family: sans-serif;
    font-size: 70%;
    width: 98%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 10px 0;
  }

  .product-description {
    display: none;
  }

  a {
    display: block;
    width: 100%;
    //background: $brand_dark;
    //color: $brand_yellow;
    margin: 0;
    padding: 4px;
    text-align: right;
    text-transform: uppercase;
    font-size: 80%;
    margin-top: 5px;

    &:hover {
      .vendor-name {
        color: $brand_blue;
      }

      .inner-price {
        color: $brand_blue;
      }
    }

    span {
      //padding: 2px;
      position: relative;
      display: inline-block;
      height: 1.15rem;
      line-height: 1.15rem;
      vertical-align: top;
    }

    .vendor-name {
      background: $brand_dark;
      color: $brand_yellow;
      padding-left: 8px;

      &::after {
        content: '';
        height: 0;
        font-size: 0px;
        line-height: 0;
        border-right: 1.15rem solid $brand_yellow;
        border-bottom: 1.15rem solid $brand_dark;
        width: 0;
        display: inline-block;
        line-height: 0;
        vertical-align: bottom;
      }
    }

    .inner-price {
      background: $brand_yellow;
      color: $brand_dark;
      padding-right: 8px;
    }
  }
}

.article-body .product-card-container .amazon-product-card a {
  color: $brand_yellow;
  &:hover {
    color: $brand_blue;
  }
}