.article-body {

  h4 {
    font-family: $sans_serif;
    font-size: 1.5em;
  }

  a {
    color: $brand_blue;
    text-decoration: none;

    &:hover {
      color: $brand_primary;
    }
  }

  blockquote {
    border-left: 5px solid $brand_primary;
    padding-left: 10px;
    color: lighten($brand_dark, 20%);
    font-size: 120%;
    font-style: italic;
  }
}
