.article-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 2em auto;

  .home-article-card {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 33%;
    margin: 2px;

    @include respond-to(phone) {
      flex-basis: 33%;
      max-width: 50%;
    }

    .image-wrapper {
      font-size: 0px;
      img {
        width: 100%;
      }
    }


  }

  .article-grid-filler {
    background: $brand_dark;
    flex-grow: 1;
    margin: 2px;

    &.mobile-only {
      display: none;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-family: $sans_serif;
      color: $brand_primary;
      padding: 30px;

      &:hover {
        color: $brand_blue;
      }
    }
  }

  @include respond-to(phone) {
    .article-grid-filler.for-non-mobile {
      display: none;
    }

    .article-grid-filler.mobile-only {
      display: flex;
    }
  }
}