.main-hero {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 30vw;
  max-height: 360px;
  background-image: url(./images/ggfg_banner.jpg);
  background-size: cover;
  background-position-y: center;

  @include respond-to(phone) {
    height: 60vw;
  }
}

