body.home-page {
  border-top: 10px solid $brand_dark;
  background: $pale_bg;
}

.site-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  @include respond-to(phone) {
    flex-direction: column;
    padding: 0;

    a.main-cta {
      width: 80%;
      margin: 0 auto 15px;
    }
  }


}

.sub-hero {


  p {
    font-family: $sans_serif;
    max-width: 90%;
    width: 600px;
    margin: 30px auto;
    color: $mid-grey;
    text-align: center;
  }
}

.social-links-home {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 10px;

    svg path {
      fill: $brand_dark;
    }

    &:hover svg path {
      fill: $brand_primary;
    }
  }


}

.main-cta {
  width: 14em;
  margin: 0 20px;
  height: 50px;
  //background: linear-gradient(darken($brand_dark, 5%), $brand_dark);
  border: 4px solid;
  color: $brand_dark;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $sans_serif;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px lighten($brand_dark, 30%);
  transition: .4s;
  transform: translate3d(0,0,0);

  &:hover {
    transform: translate3d(0,-1px,0);
    box-shadow: 2px 2px 9px lighten($brand_dark, 10%);
  }

  &.action:hover {
    color: #fd746c;
  }

  &.inspire:hover {
    color: #0099F7;
  }
  //border-radius: 4px;

  svg {
    margin-right: 15px;
  }
}