body.home-page {
  border-top: 10px solid $brand_dark;
}
.text-block {
  max-width: 1200px;
  width: 90%;
  margin: 50px auto 20px;

  .hero-tagline {
    font-family: $sans_serif;
    font-size: 2em;
    color: lighten($brand_dark, 20%);
    text-align: center;
    margin: 15px auto;
    color: $brand_dark;

    @include respond-to(phone) {
      font-size: 1.2em;
      margin: 0 auto;
      padding-right: 0;
    }

    //@include respond-to(largetablet) {
    //  padding-right: 20px;
    //}
  }

  .hero-sub-tag {
    text-align: center;
    margin: 10px auto;
    max-width: 1200px;
    font-family: $sans_serif;
    color: $mid-grey;
    max-width: 575px;

    //@include respond-to(largetablet) {
    //  padding-right: 20px;
    //}

    @include respond-to(phone) {
      font-size: 80%;
    }
  }
}

.social-links-home {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 10px;

    svg path {
      fill: $brand_dark;
    }

    &:hover svg path {
      fill: $brand_primary;
    }
  }


}