
// Body
$body-bg: #f5f8fa;

$brand_red: #C02E1D;
$brand_dark: #4d2b25; //#2e2828
$brand_primary: #6effac; //#de830a
$brand_blue: #1e59c0;
$light_grey: #cdcdcd;
$eggshell: #ebf9f7;
$pale_bg: #f5f8fa;
$admin_blue: dodgerblue;
$admin_red: indianred;
$white: #FFFFFF;
$mid-grey: #666;
$script: 'Pacifico';
$sans_serif: 'Fredoka One', 'sans-serif';
$body_font: 'Droid Serif', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
//$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;
$navbar-inverse-bg: $brand_dark;
$navbar-inverse-color: $brand_primary;
$navbar-inverse-link-active-color: $white;
$navbar-inverse-link-color: $white;
$navbar-border-radius: 0;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
