.gift-list-page-container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;

  .greeting {
    margin: 50px 0;

    @include respond-to(phone) {
      margin: 30px 0;
      font-size: 1.5rem;
    }
  }

  .card-info-strip {
    display: flex;
    background: $white;
    padding: 10px;

    @include respond-to(phone) {
      display: block;

      & > div {
        margin: 15px 0;
      }
    }

    & > div {
      width: 33%;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
    }

    .info-label {
      text-transform: uppercase;
      color: $brand_primary;
      font-size: 80%;
      margin: 0;
      font-family: $sans_serif;
    }

    .info-text {
      color: $brand_dark;
      margin: 0;
    }
  }

  .prompt {
    margin: 50px 0;
    font-family: $sans_serif;
    color: $brand_dark;
  }

  .social-begging {
    margin: 50px 0;

    p {
      font-family: $sans_serif;
      color: $brand_dark;
      font-size: 1.2em;
      text-align: center;
      margin: 0;
    }

    .icons {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        margin: 0 10px;

        svg path {
          fill: $brand_dark;
        }

        &:hover svg path {
          fill: $brand_primary;
        }
      }
    }
  }

  .hit-em-again {
    p {
      font-family: $sans_serif;
      text-align: center;
    }

    a {
      width: 12em;
      display: block;
      margin: 30px auto;
      height: 40px;
      background: linear-gradient(darken($brand_dark, 5%), $brand_dark);
      color: $brand_primary;
      font-family: $sans_serif;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;

      &:hover {
        background: linear-gradient(darken($brand_primary, 5%), $brand_primary);
        color: $brand_dark;
      }
    }
  }
}