.thanks-container {
  max-width: 600px;
  width: 90%;
  margin: 150px auto 150px;
  text-align: center;

  @include respond-to(phone) {
    margin: 2em auto;
  }

  h1 {
    font-size: 50px;
    font-family: $sans_serif;
  }

  .logo {
    width: 250px;
    display: block;
    margin: 50px auto;
  }
}