.btn {
  display: inline-block;
  //padding: 3px 5px;
  text-align: center;
  //margin: 1em;
  background: $white;
  color: $admin_blue;
  border: 2px solid $admin_blue;
  border-radius: 5px;

  &:hover {
    background: $admin_blue;
    color: $white;
  }
}

.btn.btn-red {
  color: $admin_red;
  border: 2px solid $admin_red;

  &:hover {
    background: $admin_red;
    color: $white;
  }
}

.btn.btn-grey {
  color: $mid_grey;
  border: 2px solid $mid_grey;

  &:hover {
    background: $mid_grey;
    color: $brand_dark;
  }
}